/* all */
*{
    font-family: 'Nunito Sans', sans-serif;
}

/* bg */
.background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.container {
    --bs-gutter-x: 0rem;
}
.container-fluid {
    --bs-gutter-x: 0rem;
}

/*  nav */
.navbar{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 5rem; 

}
.navbar .first{
    margin: 0;
    width: 5rem;
    height: 5rem;
    padding: 1.375rem; 
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
    border-radius: 1.875rem;
    background: var(--osler-gray-white, #FFF); 
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05); 
}
.navbar .second{
    margin: 0;
    width: 5rem;
    height: 5rem;
    padding: 1.375rem; 
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
    border-radius: 1.875rem;
    background: var(--healing-green-50, #84CC16);
    box-shadow: 0px 16px 32px 0px rgba(132, 204, 22, 0.25); 
}
.navbar .third {
    margin: 0;
    width: 5rem;
    height: 5rem;
    padding: 1.375rem; 
    display: flex;
    width: 5rem;
    height: 5rem;
    padding: 1.75rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
    border-radius: 1.875rem;
    background: var(--osler-gray-white, #FFF);
    /* Card Shadow Gray80 5% */
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05); 
}

/* main */
.hero-con{
    display: flex;
    align-items: center;
    height: 50.5rem;
}
/* MAIN LEFT */
.left-side {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem; 
    height: 31.875rem;
    width: 28.623rem;
    margin-top: 5.69rem;
}
.left-side h2{
    color: var(--osler-gray-80, #2F3C33);
    /* Heading xl/ExtraBold */
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: 4.25rem; /* 113.333% */
    letter-spacing: -0.1125rem; 
}
.left-side .dot {
    color: var(--healing-green-50, #84CC16);
    /* Heading xl/ExtraBold */
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: 4.25rem;
    letter-spacing: -0.1125rem; 
}
.left-side p {
    color: var(--osler-gray-60, #647067);
    /* Paragraph/2xl */
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 2.4rem */
    letter-spacing: -0.015rem; 
}
.left-side .secondp {
    display: flex;
    align-content: space-between;
}

.left-side .secondp p{
    color: var(--osler-gray-60, #647067);
    /* Label/md */
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.0875rem;
    text-transform: uppercase; 
}
.left-side .black-button{
    display: flex;
    height: 4rem;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 2rem; 
    border-radius: 1.5rem;
    background: var(--osler-gray-80, #2F3C33);  
    width: 16.623rem;
}


.left-side .black-button a{
    color: var(--osler-gray-white, #FFF);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.0225rem; 
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem; 
    text-decoration: none;

}
/* MAIN RIGHT */
.right-side{
    margin-top: 0.95rem;
    width: 25.92919rem;
    height: 56.22738rem;
    border-radius: 1.5rem;
}
.right-side-big-photo {
    /* background-image: url(./bootstrap-5.3.2-dist/images/MockUpBig.png); */
    margin-top: 0.95rem;
    width: 25.92919rem;
    height: 56.22738rem;
    border-radius: 1.5rem;
} 
/* .right-side-big-photo img:nth-child(1) {
    margin-top: 0.95rem;
    width: 25.92919rem;
    height: 56.22738rem;
    border-radius: 1.5rem;
}  */

/* Small photo1 */
/* DOC INFO */
.image1 { 
    position: absolute;
    top: 20rem;
    display: flex;
    width: 21.4375rem;
    padding: 0.75rem;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.625rem; 
    border-radius: 2rem;
    background: var(--osler-gray-white, #FFF);  
    /* Card Shadow Gray80 5% */
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05); 
}
.image1-img {
    margin: 0rem;
    padding: 0rem;
    width: auto;
}


.small-img-con {
    display: flex;
    align-items: center;
    flex-direction: row;

}
.small-img-con img{
    border-radius: 25%;
}
.small-img-con .name1 {
    color: var(--osler-gray-80, #2F3C33);
    /* Text md/ExtraBold */
    font-family: 'Nunito Sans';
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.02rem; 
}
.doc-table-content{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch; 
    height: 5.5rem;
    width: auto;
    margin: 0.0rem;
    flex-direction: column;
}
.doc-table-content .image1-section1 {
    display: flex;
    align-items: center;
    align-self: stretch;
}
.doc-table-content .image1-section1 p {
    color: var(--osler-gray-80, #2F3C33);
    font-family: 'Nunito Sans';
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.02rem; 
    margin-bottom: 0px; 
}
.doc-table-content .image1-section1 img{
    width: 1.5rem;
    height: 1.5rem; 
}
.doc-table-content .doc-table-2{
    display: flex;
    align-items: center;
    align-self: stretch; 
}
.doc-table-content .doc-table-2 img{
    width: 1.25rem;
    height: 1.25rem; 
}
.doc-table-content .doc-table-2 img:nth-child(3){
    width: 1.5rem;
    height: 1.5rem; 
}
.doc-table-2 p {
    color: var(--osler-gray-60, #647067);
    font-family: Nunito;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.0075rem; 
    margin-bottom: 0;
    padding-right: 1rem;
}
.doc-table-content .stars5 {
    display: flex;
    align-items: center;
    align-self: stretch; 
}
.doc-table-content .stars5 img{
    width: 1.25rem;
    height: 1.25rem; 
}
.doc-table-content .stars5 p{
    color: var(--osler-gray-80, #2F3C33);
    font-family: Nunito;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.0075rem; 
    margin-bottom: 0rem;
    padding-right: 1rem;
}
/* GREEN DIAGRAM */
.image2-diag{
    position: absolute;
    top:30rem;
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    gap: 0.625rem; 
    border-radius: 2rem;
    background: var(--healing-green-50, #84CC16);
    box-shadow: 0px 16px 32px 0px rgba(132, 204, 22, 0.25); 
}
.green-diagram {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    align-self: stretch; 
}
.green-diagram .green-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    align-self: stretch; 
}
.green-diagram .green-details .green-top-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch; 
}
.green-diagram .green-details p {
    color: var(--osler-gray-white, #FFF);
    font-family: 'Nunito Sans';
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.00875rem; 
    margin-bottom: 0rem;

}
.green-diagram .green-details p img{
    width: 1.25rem;
    height: 1.25rem; 
}
.green-diagram .green-details .heartBeat {

    display: flex;
    align-items: center;
    gap: 0.25rem; 
}
.green-diagram .green-details .heartBeat h2{
    color: var(--osler-gray-white, #FFF);
    font-family: 'Nunito Sans';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.03rem; 
    margin-bottom: 0rem;
}

.green-diagram .green-details .heartBeat p{
    color: var(--healing-green-30, #BEF264);
    /* Text sm/SemiBold */
    font-family: Nunito;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.00875rem; 
    margin-bottom: 0rem;
}
.green-diagram .green-details .frame{
    width: 7.6875rem;
    height: 6.25rem; 
}




/*========= section 2============= */
.s2 {
    display: flex;
    padding: 8rem 7.375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem; 
    border-radius: 11.25rem;
    background: var(--osler-gray-80, #2F3C33); 
}
.s2 .text-s2 {
    display: flex;
    
    justify-content: space-between;
    align-items: flex-start; 
}
.s2 .text-s2 .s2-left {
    float: left;
    display: flex;
    width: 28rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    flex-shrink: 0; 
}
.s2 .text-s2 .s2-left button{
    display: flex;
    height: 3rem;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center; 
    border-radius: 1.125rem;
    background: var(--healing-green-50, #84CC16); 
    color: white;
    border: none;
}
.s2 .text-s2 .s2-left button span{
    color: var(--osler-gray-20, #E3E4E3);
    /* Paragraph/xl */
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 2rem */
    letter-spacing: -0.0125rem; 
}
.s2 .text-s2 .s2-left p:nth-child(2){
    color: var(--osler-gray-20, #E3E4E3);
    /* Paragraph/xl */
    font-family: 'Nunito Sans';
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 2rem */
    letter-spacing: -0.0125rem; 
}
/* S2 RIGHT */
.s2 .text-s2 .s2-right {
    float: right;
    width: 32.25rem;
    flex-shrink: 0; 
    color: var(--osler-gray-white, #FFF);
    /* Heading lg/ExtraBold */
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.5rem; /* 116.667% */
    letter-spacing: -0.09rem; 
}
.s2 .text-s2 .s2-right p{

}

.s2 .logos-top-s2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 1.5rem; 
}
.s2 .logos-bot-s2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 1.5rem; 
}
.s2 img {
    display: flex;
    width: 12.25rem;
    height: 8.5rem;
    padding: 0rem 1.5625rem 0rem 1.62019rem;
    justify-content: center;
    align-items: center; 
    border-radius: 3.5rem; 
}
.s2  img:hover{
    display: flex;
    width: 12.25rem;
    height: 8.5rem;
    padding: 0rem 1.4375rem 0rem 1.49169rem;
    justify-content: center;
    align-items: center; 
    border-radius: 3.5rem;
    background: var(--osler-gray-70, #48524B);
    color:white; 
}

/* ================= S3 Statistics =================== */

.s3-statistics {
    display: flex;
    padding: 8rem 7.375rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 11.25rem;
    background: var(--healing-green-50, #84CC16);
}
.s3-statistics .s3-con {
    display: flex;
    width: 72.25rem;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
.s3-statistics .s3-con .s3-subtext {
    color: var(--osler-gray-white, #FFF);
    text-align: center;
    /* Heading lg/ExtraBold */
    font-family: Nunito;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3.5rem; /* 116.667% */
    letter-spacing: -0.09rem;
}
.s3-statistics .s3-stats {
    display: flex;
    width: 72.1875rem;
    align-items: flex-start;
    gap: 1rem;
}
.s3-statistics .stats1 {
    display: flex;
    padding: 3rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    border-radius: 4rem;
    background: var(--osler-gray-white, #FFF);
    /* Card Shadow Gray80 5% */
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
}
.s3-statistics .stats2{
    display: flex;
    padding: 3rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    border-radius: 4rem;
    background: var(--osler-gray-white, #FFF);
    /* Card Shadow Gray80 5% */
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
}
.s3-statistics .stats3 {
    display: flex;
    padding: 3rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    border-radius: 4rem;
    background: var(--osler-gray-white, #FFF);
    /* Card Shadow Gray80 5% */
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);
}
.s3-statistics .s3-stats h3 {
    color: var(--osler-gray-80, #2F3C33);
    /* Heading 2xl/ExtraBold */
    font-family: Nunito;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 5rem;
    /* 111.111% */
    letter-spacing: -0.135rem;
}
.s3-statistics .s3-stats img{
    width: 1.5rem;
    height: 1.5rem;
}
.s3-statistics .s3-stats p {
    color: var(--osler-gray-80, #2F3C33);
    /* Heading xs/SemiBold */
    font-family: 'Nunito Sans';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem; /* 133.333% */
    letter-spacing: -0.045rem;
}

.s3-statistics .s3-stats span {
    color: var(--healing-green-50, #84CC16);
    /* Heading 2xl/ExtraBold */
    font-family: Nunito;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 5rem;
    letter-spacing: -0.135rem;
}
/* ========================S4 SERVICES ===================== */


/* ========================S5 FEATURES =================== */
.s5-features {
    display: flex;
    padding: 8rem 10.9375rem;
    align-items: flex-start;
    gap: 0.625rem;
}
.s5-features .s5-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}
.s5-features .s5-texName {
    color: var(--osler-gray-80, #2F3C33);
    text-align: center;
    /* Heading xl/ExtraBold */
    font-family: Nunito;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: 4.25rem; /* 113.333% */
    letter-spacing: -0.1125rem;
}
.s5-features .s5-texName h2 {

}

.s5-features .feature1 {
    display: flex;
    align-items: center;
    gap: 11.25rem;
}
.s5-features .feature2 {

}
.s5-features .feature3 {

}